<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <%- include('include/head.ejs') %>

  <body>
    <!-- Start Header Area -->
    <%- include('include/header.ejs') %>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
      <div class="container">
        <div
          class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
        >
          <div class="col-first">
            <h1>Shopping Cart</h1>
            <nav class="d-flex align-items-center">
              <a href="index.html"
                >Home<span class="lnr lnr-arrow-right"></span
              ></a>
              <a href="category.html">Cart</a>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
      <div class="container">
        <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
               
                <tr>
                  <td>
                      <div class="media">
                          <div class="d-flex"> 
                              <img src="/backend/photo/<%= data.product.images[0]%>" alt="" style="width: 267px;" />
                          </div>
                          <div class="media-body">
                              <p><%= data.product.product %></p>
                          </div>
                      </div>
                  </td>
                  <td>
                      <h5 id="current_price">$<%= data.product.curr_price %></h5>
                  </td>
                  <td>
                      <div class="product_count">
                          <input
                              type="text"
                              name="qty"
                              id="sst"
                              maxlength="12"
                              value="<%= data.quantity %>"
                              title="Quantity:"
                              class="input-text qty"
                          />
                          <button
                              onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                              class="increase items-count"
                              type="button"
                          >
                              <i class="lnr lnr-chevron-up"></i>
                          </button>
                          <button
                              onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1 ) result.value--;return false;"
                              class="reduced items-count"
                              type="button"
                          >
                              <i class="lnr lnr-chevron-down"></i>
                          </button>
                      </div>
                  </td>
                  <td>
                      <h5 id="productPrice">$<%= data.product.curr_price * data.quantity %></h5>
                  </td>
              </tr>
              
                <tr class="bottom_button">
                  <td>
                    <a class="gray_btn" href="#">Update Cart</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="cupon_text d-flex align-items-center">
                      <input type="text" placeholder="Coupon Code" />
                      <a class="primary-btn" href="#">Apply</a>
                      <!-- <a class="gray_btn" href="#">Close Coupon</a> -->
                    </div>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <h5>Subtotal</h5>
                  </td>
                  <td>
                    <h5 id="subtotal">$<%= data.product.curr_price * data.quantity %></h5>
                  </td>
                </tr>
              
                <tr class="out_button_area">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="checkout_btn_inner d-flex align-items-center">
                      <!-- <a class="gray_btn" href="#">Continue Shopping</a> -->
                      <a class="primary-btn" href="#" id="buyNowBtn">Proceed to checkout</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!--================End Cart Area =================-->

    <%- include('include/footer.ejs') %>
    <script>
      $('.items-count').on('click',function(event){
        event.preventDefault();
        const quenty=document.getElementById('sst').value;
        const productPrice=document.getElementById('productPrice').innerText;
        const productRe=productPrice.replace("$","");
        const current_price=quenty*productRe;
        document.getElementById('productPrice').innerText = "$" + current_price; 
        document.getElementById('subtotal').innerText="$" + current_price;
      });
    </script>
    <!-- <script>
      document.addEventListener('DOMContentLoaded', () => {
      const quenty=document.getElementById('sst').value;
			const productPrice=document.getElementById('current_price').innerText;
			const productRe=productPrice.replace("$","");
			const current_price=quenty*productRe;
			document.getElementById('productPrice').innerText = "$" + current_price; 
      });
    </script> -->
    <script>
      document.getElementById('buyNowBtn').addEventListener('click', function(event) {
      event.preventDefault();
      const productId = '<%= data.product.id %>';
      const quantity = document.getElementById('sst').value;
      console.log(quantity);
      const url = `/api/singlecheckout/${productId}/${quantity}`;
      window.location.href = url; 
      });
    </script>
  </body>
</html>
