<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <%- include('include/head.ejs') %>
  <style>
    body {
        background: #f5f5f5;
        margin-top: 20px;
    }
    
    .ui-w-80 {
        width : 80px !important;
        height: auto;
    }
    
    .btn-default {
        border-color: rgba(24, 28, 33, 0.1);
        background  : rgba(0, 0, 0, 0);
        color       : #4E5155;
    }
    
    label.btn {
        margin-bottom: 0;
    }
    
    .btn-outline-primary {
        border-color: #26B4FF;
        background  : transparent;
        color       : #26B4FF;
    }
    
    .btn {
        cursor: pointer;
    }
    
    .text-light {
        color: #babbbc !important;
    }
    
    .btn-facebook {
        border-color: rgba(0, 0, 0, 0);
        background  : #3B5998;
        color       : #fff;
    }
    
    .btn-instagram {
        border-color: rgba(0, 0, 0, 0);
        background  : #000;
        color       : #fff;
    }
    
    .card {
        background-clip: padding-box;
        box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
    }
    
    .row-bordered {
        overflow: hidden;
    }
    
    .account-settings-fileinput {
        position  : absolute;
        visibility: hidden;
        width     : 1px;
        height    : 1px;
        opacity   : 0;
    }
    
    .account-settings-links .list-group-item.active {
        font-weight: bold !important;
    }
    
    html:not(.dark-style) .account-settings-links .list-group-item.active {
        background: transparent !important;
    }
    
    .account-settings-multiselect~.select2-container {
        width: 100% !important;
    }
    
    .light-style .account-settings-links .list-group-item {
        padding     : 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }
    
    .light-style .account-settings-links .list-group-item.active {
        color: #4e5155 !important;
    }
    
    .material-style .account-settings-links .list-group-item {
        padding     : 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }
    
    .material-style .account-settings-links .list-group-item.active {
        color: #4e5155 !important;
    }
    
    .dark-style .account-settings-links .list-group-item {
        padding     : 0.85rem 1.5rem;
        border-color: rgba(255, 255, 255, 0.03) !important;
    }
    
    .dark-style .account-settings-links .list-group-item.active {
        color: #fff !important;
    }
    
    .light-style .account-settings-links .list-group-item.active {
        color: #4E5155 !important;
    }
    
    .light-style .account-settings-links .list-group-item {
        padding     : 0.85rem 1.5rem;
        border-color: rgba(24, 28, 33, 0.03) !important;
    }
  </style>
  <body>
    <!-- Start Header Area -->
    <%- include('include/header.ejs') %>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
      <div class="container">
        <div
          class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end"
        >
          <div class="col-first">
            <h1>Profile</h1>
           
          </div>
        </div>
      </div>
    </section>
    <!-- End Banner Area -->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
      <div class="container">
        <div class="container light-style flex-grow-1 container-p-y">
            <h4 class="font-weight-bold py-3 mb-4">
                Account settings
            </h4>
            <div class="card overflow-hidden">
                <div class="row no-gutters row-bordered row-border-light">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <a class="list-group-item list-group-item-action active" data-toggle="list"
                                href="#account-general">Profile</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-change-password">Change password</a>
                            <a class="list-group-item list-group-item-action" data-toggle="list"
                                href="#account-order">Order Details</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general">
                                <div class="card-body media align-items-center" id="photo">
                                    <img id="previewImage" src="#" alt="image"
                                        class="d-block ui-w-80" style="height: 100px;
                                        border: 2px solid black;">
                                    <div class="media-body ml-4">
                                        <label class="btn btn-outline-primary">
                                            Upload new photo
                                            <input type="file" class="account-settings-fileinput" id="img" onchange="previewImage(event)">
                                        </label> &nbsp;
                                        <button type="button" class="btn btn-default md-btn-flat" style="background-color: #3B5998; color:#fff" id="upload">Upload</button>
                                        <button type="button" class="btn btn-default md-btn-flat" style="background-color: gray; color:white" >Reset</button>
                                        <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                                        <!-- Message show -->
                                        <div id="message"></div>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label class="form-label">Username</label>
                                        <input type="text" class="form-control mb-1" value="<%= data.user.username %>">
                                        <input type="hidden" class="form-control mb-1" value="<%= userID %>" id="userId">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">E-mail</label>
                                        <input type="text" class="form-control mb-1" value="<%= data.user.useremail %>">  
                                    </div>   
                                </div>
                                
                            </div>
                            <div class="tab-pane fade" id="account-change-password">
                                <div class="card-body pb-2" id="changepassword">
                                    <!-- Message show -->
                                    <div class="alert" id="messages"></div>
                                    <div class="form-group">
                                        <label class="form-label">Current password</label>
                                        <input type="password" class="form-control" id="currentpass">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New password</label>
                                        <input type="password" class="form-control" id="newpasswor">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Repeat new password</label>
                                        <input type="password" class="form-control" id="repetpassword">
                                    </div>
                                    <div class="text-right mt-3">
                                        <button type="button" class="btn btn-primary" onclick="changepassword()">Save changes</button>&nbsp;
                                        <button type="button" class="btn btn-default">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-order">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Order Details</h6>
                                    <div class="form-group">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Product</th>
                                                        <th scope="col">Quantity</th>
                                                        <th scope="col">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% data.orders.forEach(order => { %>
                                                        <tr>
                                                            <td>
                                                                <div class="media">
                                                                    <div class="d-flex">
                                                                        <img src="/backend/photo/<%= order.image%>" alt="" style="width: 200px;" />
                                                                    </div>
                                                                    <div class="media-body" style="display: flex; align-items: center; justify-content: center;">
                                                                        <p><%= order.productName %></p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="product_count">
                                                                    <input
                                                                        type="text"
                                                                        name="qty"
                                                                        id="sst"
                                                                        maxlength="12"
                                                                        value="<%= order.amount %>"
                                                                        title="Quantity:"
                                                                        class="input-text qty"
                                                                        readonly
                                                                    />
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <h5>$<%= order.amount %></h5>
                                                            </td>
                                                        </tr>
                                                    <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                    </div>     
                                </div>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript">
    
        </script>
      </div>
    </section>
    <!--================Blog Area =================-->

    <%- include('include/footer.ejs') %>
    <script>
        function previewImage(event){
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('previewImage').src = e.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
         
        $('#upload').on('click',(e)=>{
            e.preventDefault();
            
            const img=document.getElementById('previewImage');
            const src=img.src;
            if (src.length<31){
                const message=document.getElementById('message');
                message.innerHTML="Select The Image";
                message.style.color = 'red';
                return;
            }
            const imageDataParts = src.split(",");
            const mimeType = imageDataParts[0];
            const base64Data = imageDataParts[1];
            const byteCharacters = atob(base64Data);
            const byteNumbers = new Array(byteCharacters.length);
            for (let i = 0; i < byteCharacters.length; i++) {
                byteNumbers[i] = byteCharacters.charCodeAt(i);
            }
            const byteArray = new Uint8Array(byteNumbers);
            const blob = new Blob([byteArray], { type: mimeType });
            const formData = new FormData();
            formData.append('image', blob, 'image.png');
        
            fetch('/api/userimageUpload',{
                method:"POST",
                body: formData
            })
            .then((response)=>{
                console.log(response);
                console.log(formData);
            })
            .then((result)=>{console.log(result);})
            .catch((error)=>{console.log(error);});
        });        
        

        function changepassword(){
        $('#changepassword').on("click",(e)=>{
            e.preventDefault();
            const userId=document.getElementById('userId').value;
            console.log(userId)
            const currentpass=document.getElementById('currentpass').value;
            const password=document.getElementById('newpasswor').value;
            const password_confirmation=document.getElementById('repetpassword').value; 
            const option={
                currentpass,
                password,
                password_confirmation
            }
            fetch(`/api/changepassword?id=${userId}`,{
                method:"POST",
                headers:{
                    "Content-Type": "application/json",
                },
                body:JSON.stringify(option)
            })
            .then((response)=>response.json())
            .then((result)=>{
                console.log(result.message);
                const message=document.getElementById('messages');
                message.innerHTML=result.message;
                if (result.status === 'success') {
                    message.classList.add('alert-success');
                } else if (result.status === "failed") {
                    message.classList.add('alert-danger');
                }
            })
            .catch((error)=>{console.log(error)});
        })
    }
    </script>
  </body>
</html>
