<!DOCTYPE html>
<html lang="en">
<!-- partial:partials/_head.ejs -->
<%- include('../../partials/_head.ejs') %>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('../../partials/_sidebar.ejs') %>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_navbar.ejs -->
          <%- include('../../partials/_navbar.ejs') %>
            <!-- partial -->
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="page-header">
                  <h3 class="page-title"> Form elements </h3>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Forms</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                    </ol>
                  </nav>
                </div>
                <div class="row">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <!-- show the message -->
                        <div id="responseMessage" style="margin-top: 15px;"></div>
                        <h4 class="card-title">Deatails Add</h4>
                        <p class="card-description"> Table</p>
                        <form class="forms-sample" id="my-form">
                          <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-9">
                              <select class="form-control" id="exampleInputUsername2" name="role">
                                <option>Select One</option>
                                <% data.roles.forEach(role=> { %>
                                 <option value="<%= role._id %>" id="role" <% if (role._id === parseInt(data.user.role)) { %> selected   <% } %>>
                                    <%= role.role_name %>
                                  </option>
                                <% }); %>
                              </select>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Permission</label>
                            <div class="col-sm-9">
                              <div class="form-control" style="display: flex; gap:10px;">
                                <% data.permissions.forEach(permission=> {%>
                                  <label>
                                    <input type="checkbox" name="permission[]" class="permission-checkbox"
                                      value="<%= permission._id %>"  <% if (data.user.permission.includes(permission._id)) { %> checked <% } %>> 
                                    <%= permission.role_name.toUpperCase() %>
                                  </label>
                                  <% }); %>
                                    <br><br>
                              </div>
                            </div>

                          </div>

                          <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">UserName</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="exampleInputusername"  value="<%= data.user.username %>" placeholder="username" name="username">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="exampleInputMobile"
                                placeholder="Mobile number"  value="<%= data.user.mobile %>" name="mobile">
                            </div>
                          </div>
                          <input type="hidden" name="userId" value="<%= data.user._id %>">
                          <button type="submit" class="btn btn-primary mr-2">Update</button>
                         <!-- <a href="#"> <button type="" class="btn btn-success mr-2">View</button></a> -->
                          <button class="btn btn-dark">Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- content-wrapper ends -->
              <!-- partial:partials/_footer.ejs -->
              <%- include('../../partials/_footer.ejs') %>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <%- include('../../partials/_scriptjs.ejs') %>
    <script>
       function updateUser() {

        let form=document.getElementById('my-form');
        form.addEventListener('submit',async function(event){
          event.preventDefault();
          const userId = '<%= data.user._id %>';
          const role = document.getElementById('exampleInputUsername2').value;
          const permissionCheckboxes = document.getElementsByClassName('permission-checkbox');
          const permission = Array.from(permissionCheckboxes).filter(checkbox => checkbox.checked).map(checkbox => checkbox.value);
          const username = document.getElementById('exampleInputusername').value;
          const mobile = document.getElementById('exampleInputMobile').value;

          const updatedUserData = {
            role,
            permission,
            username,
            mobile
          };
          try {
          const response = await fetch(`/api/user/updated-user/${userId}`, {
            method: 'PUT',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedUserData)
          });

          const result = await response.json();
          console.log(result);
          responseMessage(result);
        } catch (error) {
          console.error('Error occurred:', error);
        }
      
       });
      function responseMessage(result) {
        const responseMessageElement = document.getElementById('responseMessage');
        if (result.status === 'success') {
          responseMessageElement.innerHTML = result.message;
          responseMessageElement.style.color = 'green';
        } else if (result.status === 'failed') {
          responseMessageElement.innerHTML = result.message;
          responseMessageElement.style.color = 'red';
        }
      }
    }
    updateUser() ;
    </script>
  </body>

</html>