<!DOCTYPE html>
<html lang="en">
  <!-- partial:partials/_head.ejs -->
  <%- include('../../partials/_head.ejs') %>
  <body>
    <div class="container-scroller">
       <!-- partial:partials/_sidebar.ejs -->
     <%- include('../../partials/_sidebar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
       <!-- partial:partials/_navbar.ejs -->
       <%- include('../../partials/_navbar.ejs') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Basic Tables </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                     <!-- Display response message here -->
                   <div id="responseMessage" style="margin-top: 15px;"></div>
                    <h4 class="card-title">Sub Category Table</h4>
                  <a href="#"> <button class="card-description badge badge-outline-warning" style="background-color: #000; margin-bottom:1rem"> Add Sub-Category 
                    </button></a> 
                    <div class="ms-auto text-secondary">
                      Search:
                      <div class="ms-2 d-inline-block">
                        <input type="text" class="form-control form-control-sm" aria-label="Search invoice">
                      </div>
                    </div>
                    <div class="table-responsive" >
                      <table class="table">
                        <thead>
                          <tr>
                            <th>SubCate No.</th>
                            <th>Category Name</th>
                            <th>Sub Category Name</th>
                            <th>Status</th>
                            <th>Updated</th>
                            <th>Delete</th>
                            <th>View</th>
                          </tr>
                        </thead>
                        <tbody>                                                 
                          
                        </tbody>
                      </table>
                    </div>
                    <!-- pagination -->
                  <div class="card-footer d-flex align-items-center justify-content-between">
                    <p class="m-0 text-secondary" id="pagination-info">Showing <span>1</span> to <span>8</span> of <span>16</span> entries</p>
                    <ul class="pagination m-0 ms-auto" id="pagination">
                      <!-- <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                          prev
                        </a>
                      </li> -->
                      <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">
                          next                        
                        </a>
                      </li> -->
                    </ul>
                  </div>
                  </div>
                </div>
              </div> 
            </div>
          </div>
          <!-- content-wrapper ends -->
           <!-- partial:partials/_footer.ejs -->
           <%- include('../../partials/_footer.ejs') %>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <%- include('../../partials/_scriptjs.ejs') %>
    
    <script>
      window.onload = function () {
        fetchDataAndBindTable();
      };    
      let tableBody = document.querySelector('.table tbody');
      let paginationInfo = $("#pagination-info");
      let pagination = $("#pagination");
      let currentPage = 1;
      let pageSize = 3;   
      
      async function fetchDataAndBindTable() {
          let currentPage = 1;
          const pageSize = 3;    
        try {
          const response = await fetch(`/api/user/subcategory-view?page=${currentPage}&limit=${pageSize}`); 
          const { result, totalEntries, pageCount } = await response.json();
          console.log(result);
          tableBody.innerHTML = '';
          if (result && result.length > 0) {
            result.forEach((subcategory, index) => {
              const row = tableBody.insertRow();
              row.innerHTML = `
                <td>${index + 1}</td>
                <td>${subcategory.category}</td>
                <td>${subcategory.subcategory}</td>
                <td><label class="badge badge-warning">${subcategory.verify ? 'Active' : 'Not Active'}</label></td>
                <td><a href="/api/user/updated-subcategory/${subcategory._id}"><label class="badge badge-outline-success">Edit</label></a></td>
                <td>
                  <label class="badge badge-outline-danger" onclick="deletesubCategory('${subcategory._id}')">Delete</label>
               
                </td>
                <td><a href="#"><label class="badge badge-outline-warning">View</label></a></td>
              `;
            });
              viewPagination(currentPage, pageCount);
              const startEntry = (currentPage - 1) * pageSize + 1;
              const endEntry = startEntry + result.length - 1;
              paginationInfo.text(`Showing ${startEntry} to ${endEntry} of ${totalEntries} entries`);
           
          } else {
            tableBody.innerHTML = '<tr><td colspan="10">No data available</td></tr>';
          }
        } catch (error) {
          console.error('Error fetching data:', error);
          tableBody.innerHTML = '<tr><td colspan="10">Error fetching data</td></tr>';
        }
      }

      function viewPagination(currentPage, totalPages) {
        pagination.empty()  
        const prevPage = currentPage - 1;
        const prevLink = `<li class="page-item ${prevPage < 1 ? 'disabled' : ''}">
                            <a class="page-link" href="#" onclick="goToviewPage(${prevPage})" tabindex="-1" aria-disabled="${prevPage < 1}">
                              prev
                            </a>
                          </li>`;
        pagination.append(prevLink);
    
        for (let i = 1; i <= totalPages; i++) {
         
          const pageLink = `<li class="page-item ${i === currentPage ? 'active' : ''}">
                              <a class="page-link" href="#" onclick="goToviewPage(${i})">${i}</a>
                            </li>`;
          pagination.append(pageLink);
        }
    
        const nextPage = currentPage + 1;
        const nextLink = `<li class="page-item ${nextPage > totalPages ? 'disabled' : ''}">
                            <a class="page-link" href="#" onclick="goToviewPage(${nextPage})">
                              next
                            </a>
                          </li>`;
        pagination.append(nextLink);
      }

      function goToviewPage(pageNumber) {
      const tableBody = $(document.querySelector('.table tbody'));
      console.log(pageNumber);
        currentPage = pageNumber;   
        fetch(`/api/user/subcategory-view?page=${currentPage}&limit=${pageSize}`, {
          method: 'GET',
        })
          .then(response => response.json())
          .then(({ result, totalEntries, pageCount }) => {
            tableBody.empty();
            const startIndex = (currentPage - 1) * pageSize;
            result.forEach((subcategory, index) => {
              const row = tableBody[0].insertRow();
              row.innerHTML = `
              <td>${startIndex + index + 1}</td>
            <td>${subcategory.category}</td>
            <td>${subcategory.subcategory}</td>
            <td><label class="badge badge-warning">${subcategory.verify ? 'Active' : 'Not Active'}</label></td>
            <td><a href="/api/user/updated-subcategory/${subcategory._id}"><label class="badge badge-outline-success">Edit</label></a></td>
            <td><a href="#"><label class="badge badge-outline-danger" onclick="deletesubCategory('${subcategory._id}')" >Delete</label></a></td>
            <td><a href="#"><label class="badge badge-outline-warning">View</label></a></td>
              `;
            });      
            viewPagination(currentPage, pageCount);      
            const startEntry = (currentPage - 1) * pageSize + 1;
            const endEntry = startEntry + result.length - 1;
            paginationInfo.text(`Showing ${startEntry} to ${endEntry} of ${totalEntries} entries`);
          })
          .catch(error => {
            console.error('Error fetching search results:', error);
          });
      } 
    </script>

    <script>     
      async function deletesubCategory(subcateId) {
        try {
          const response = await fetch(`/api/user/delete-subcategory/${subcateId}`, {
            method: 'DELETE',
          })
          const result =await response.json();
          resopnsemessage(result);        
        } catch (error) {
         return res.status(400).json({ error: 'Bad Request: Missing userId parameter' });
        }
      }
      function resopnsemessage(result){
        const responseMessageElement =
          document.getElementById("responseMessage");
        if (result.status === "success") {
          fetchDataAndBindTable();
          responseMessageElement.innerHTML = result.message;
          responseMessageElement.style.color = "green";
        } else if (result.status === "failed") {
          responseMessageElement.innerHTML = result.message;
          responseMessageElement.style.color = "red";
        }    
     }
    </script> 

  </body>
</html>
