
<!DOCTYPE html>
<html lang="en">
<!-- partial:partials/_head.ejs -->
<%- include('../../partials/_head.ejs') %>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.ejs -->
      <%- include('../../partials/_sidebar.ejs') %>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_navbar.ejs -->
          <%- include('../../partials/_navbar.ejs') %>
            <!-- partial -->
            <div class="main-panel">
              <div class="content-wrapper">
                <div class="page-header">
                  <h3 class="page-title"> Form elements </h3>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Forms</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                    </ol>
                  </nav>
                </div>
                <div class="row">
                  <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                         <!-- show the message -->
                         <% if (message) { %>
                          <span class="text-success" > <%= message %></span>
                         <% } %>
                        <h4 class="card-title">Deatails Add</h4>
                        <p class="card-description"> Table</p>
                        <form class="forms-sample" method="post" action="/backend/category-updated">
                          <div class="form-group row">
                            <label for="" class="col-sm-3 col-form-label">Category</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" name="category" value="<%= data1%>" placeholder="category">
                                 <% if (errors && errors.category) { %>
                                  <span class="text-danger" id="validation"> <%= errors.category.msg %></span>
                                 <% } %>
                            </div>
                          </div>         
                          <input type="hidden" name="verify" value="true">  
                          <input type="hidden" name="cateId"  value="<%= data2 %>" id="cate_Id">            
                          <button type="submit" class="btn btn-primary mr-2">Updated</button>
                          <button type="submit" class="btn btn-success mr-2" id="view">View</button>
                          <button class="btn btn-dark" id="cancel">Cancel</button>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- content-wrapper ends -->
              <!-- partial:partials/_footer.ejs -->
              <%- include('../../partials/_footer.ejs') %>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->

    <%- include('../../partials/_scriptjs.ejs') %>
    <script>
      $(document).ready(function () {
        $("#view").click(function () {
          window.location.href = "/backend/category-table";
        });
      });
    </script>

 
  </body>
</html>
